# Importation et extraction des données

In [1]:
%matplotlib inline
# %matplotlib notebook
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df_titanic = pd.read_csv("train.csv")
not_interesting = ["Embarked", "Cabin", "Ticket", "Embarked", "Name"]
print(df_titanic.columns)
df_titanic.describe()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

# 1. Étude des variables par rapport à la variable cible

In [17]:
from sklearn.preprocessing import LabelEncoder
def visualize_dist(feature):
    sns.boxplot(df_titanic, x =feature, hue="Survived", color="blue")
    plt.show()
    return 0
df_titanic["Sex"] = LabelEncoder().fit_transform(df_titanic["Sex"])

KeyError: "None of [Float64Index([22.0, 38.0, 26.0, 35.0, 35.0,  nan, 54.0,  2.0, 27.0, 14.0,\n              ...\n              33.0, 22.0, 28.0, 25.0, 39.0, 27.0, 19.0,  nan, 26.0, 32.0],\n             dtype='float64', length=891)] are in the [columns]"